.mainMoviePage {
    width: 100%;
    padding-bottom: 22rem;
}

.sectionCast, .sectionTrailer {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0 auto;
    border-bottom: 1px solid #49494938;
    padding-bottom: 20px;
}

.sectionCast-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.sectionProd {
    width: 70%;
    margin: 20px auto 20px auto;
}

.title-sections {
    display: inline-block;
    margin-bottom: 20px;
}

@media (max-width: 1480px) and (min-width: 1200px) {
    .sectionCast, .sectionTrailer, .sectionProd {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    .sectionCast, .sectionTrailer, .sectionProd {
        width: 90%;
    }

    .sectionCast-info {
        flex-wrap: wrap;
    } 
}

