.container-search {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 22rem;
}

.container-moviesSearch {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.group-search {
    display: flex;
    gap: 30px;
}

.erro {
    color: #000;
}

@media (max-width: 1440px) {
    .group-search {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    .container-search {
        width: 90%;
    }
    
}

@media (max-width: 480px) {
    .container-search {
        padding-bottom: 35rem;
    }
}