.sectionFooter {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    background-color: #032541;
    position: absolute;
    bottom: 0;
}

.containerFooter {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    margin: 0 auto;
    color: #fff;
}

.liTitle {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 7px;
}

.liChild {
    margin-bottom: 3px;
}

@media (max-width: 1280px) {
    .containerFooter {
        width: 90%;
    }
}

@media (max-width: 980px) {
    .containerFooter {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .sectionFooter {
        height: auto;
        padding: 20px;
        position: absolute;
        bottom: 0;
    }

    .containerFooter {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}