.form {
    display: flex;
    gap: .5rem;
    padding: 5px;
    border-radius: 4px;
}

.form input {
    width: 100%;
    outline: none;
    padding: 1rem 1.2rem;
    border-radius: 30px;
    border: none;
}

.form button {
    display: flex;
    align-items: center;
    background-color: #f7d354;
    color: #fff;
    border: none;
    border-radius: 32px;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.3rem;
}