header {
    background-color: #032541;
}

.container-nav {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.container-nav a {
    color: #fff;
    font-size: 1.4rem;
}

